<nav class="navbar navbar-light navbar-expand-md bg-light py-2">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand">My List!</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav bar items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-2">
            <a href="/myLists" class="nav-link">MY LISTS</a>
        </li>
          <li class="nav-item mx-2">
            <a href="/about" class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item mx-2">
            <a href="/contact" class="nav-link">CONTACT</a>
          </li>
          <li class="nav-item mx-2">
            <a href="/logout" class="nav-link">LOG OUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>