<%-include("partials/header")-%> <%-include("partials/navbar")-%>

<div class="container">
  <h1>About</h1>
  <p>
    Welcome to MyList! MyList is a dynamic web application where you must have
    an acconut to use it. There you can create your own lists with just a click!
    Just enter your list name in the box 'List Name' and click on the botton
    'Create'. MyList will show your newly created lists on the homepage as soon
    as you make them! MyList will also generate a custom URL with the title of
    your list. This website is made with Node.js and EJS, which is a template
    engine.
  </p>
  <p>
    This project started while I was learning different types of authentication.
  </p>
</div>
<%-include("partials/footer")-%>
