<%-include("partials/header")-%> <%-include("partials/navbar")-%>

<div class="container">
  <h1>Contact</h1>
  <p>
    Welcome to MyList! MyList is a dynamic to-do list web application where you
    can create your own to-do lists with just a click! MyList will show all of
    your lists on the homepage. This website is made with Node.js and EJS, which
    is a template engine.
  </p>
  <p>
    <a href="https://www.linkedin.com/in/natalija-stojanovska" target="_blank">
      <i class="social-icon fab fa-linkedin" aria-hidden="true"></i
    ></a>
    <a href="https://gitlab.com/natalijastojanovska" target="_blank"
      ><i class="social-icon fab fa-gitlab" aria-hidden="true"></i
    ></a>
    <a href="mailto:n.stojanovska00@gmail.com" target="_blank" method="post"
      ><i class="social-icon fas fa-envelope" aria-hidden="true"></i
    ></a>
  </p>
</div>

<%-include("partials/footer")-%>
