<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">MyList</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="64"
      height="64"
      viewBox="0 0 172 172"
      style="fill: #000000"
    >
      <g
        fill="none"
        fill-rule="nonzero"
        stroke="none"
        stroke-width="1"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        stroke-dasharray=""
        stroke-dashoffset="0"
        font-family="none"
        font-weight="none"
        font-size="none"
        text-anchor="none"
        style="mix-blend-mode: normal"
      >
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g>
          <path
            d="M118.25,67.1875c-28.20104,0 -51.0625,22.86146 -51.0625,51.0625c0,28.20104 22.86146,51.0625 51.0625,51.0625c28.20104,0 51.0625,-22.86146 51.0625,-51.0625c-0.03202,-28.18777 -22.87473,-51.03048 -51.0625,-51.0625zM155.26085,101.14605l-37.625,45.6875c-0.51481,0.62481 -1.28379,0.98435 -2.09335,0.97875c-0.80956,-0.0056 -1.57349,-0.37574 -2.07961,-1.00761l-4.55319,-5.69191l-4.71135,5.72077c-0.51481,0.62481 -1.28379,0.98435 -2.09335,0.97875c-0.80956,-0.0056 -1.57349,-0.37574 -2.07961,-1.00761l-21.49868,-26.875c-0.60352,-0.74935 -0.76045,-1.76413 -0.41148,-2.66078c0.34897,-0.89664 1.15061,-1.53836 2.1019,-1.68258c0.95129,-0.14422 1.90711,0.23106 2.50616,0.98398l19.43331,24.28987l35.52015,-43.13123c0.94361,-1.14511 2.63685,-1.30846 3.78196,-0.36485c1.14511,0.94361 1.30846,2.63685 0.36486,3.78196l-29.42044,35.72494l3.19108,3.98927l35.52015,-43.13123c0.94361,-1.14511 2.63685,-1.30846 3.78196,-0.36485c1.14511,0.94361 1.30846,2.63685 0.36486,3.78196z"
            fill="#adc5d9"
          ></path>
          <path
            d="M10.75,137.0625h86c4.45078,-0.00486 8.05764,-3.61172 8.0625,-8.0625v-107.5c-0.00486,-4.45078 -3.61172,-8.05764 -8.0625,-8.0625h-26.875v-2.6875c-0.00486,-4.45078 -3.61172,-8.05764 -8.0625,-8.0625h-16.125c-4.45078,0.00486 -8.05764,3.61172 -8.0625,8.0625v2.6875h-26.875c-4.45078,0.00486 -8.05764,3.61172 -8.0625,8.0625v107.5c0.00486,4.45078 3.61172,8.05764 8.0625,8.0625zM21.5,18.8125h10.75v5.375c0.00486,4.45078 3.61172,8.05764 8.0625,8.0625h26.875c4.45078,-0.00486 8.05764,-3.61172 8.0625,-8.0625v-5.375h10.75v94.0625c-0.00148,1.48365 -1.20385,2.68602 -2.6875,2.6875h-59.125c-1.48365,-0.00148 -2.68602,-1.20385 -2.6875,-2.6875zM69.875,18.8125v5.375c-0.00192,1.48347 -1.20403,2.68558 -2.6875,2.6875h-26.875c-1.48347,-0.00192 -2.68558,-1.20403 -2.6875,-2.6875v-5.375zM43,10.75c0.00192,-1.48347 1.20403,-2.68558 2.6875,-2.6875h16.125c1.48347,0.00192 2.68558,1.20403 2.6875,2.6875v2.6875h-21.5zM8.0625,21.5c0.00192,-1.48347 1.20403,-2.68558 2.6875,-2.6875h5.375v94.0625c0.00486,4.45078 3.61172,8.05764 8.0625,8.0625h59.125c4.45078,-0.00486 8.05764,-3.61172 8.0625,-8.0625v-94.0625h5.375c1.48365,0.00148 2.68602,1.20385 2.6875,2.6875v107.5c-0.00099,1.48385 -1.20365,2.68651 -2.6875,2.6875h-86c-1.48365,-0.00148 -2.68602,-1.20385 -2.6875,-2.6875z"
            fill="#474f59"
          ></path>
          <path
            d="M129,26.875h-5.375c-4.45078,0.00486 -8.05764,3.61172 -8.0625,8.0625v75.25c-0.00018,0.58129 0.18866,1.14687 0.53804,1.61145l8.0625,10.75c0.50729,0.67676 1.30368,1.07509 2.14946,1.07509c0.84578,0 1.64217,-0.39833 2.14946,-1.07509l8.0625,-10.75c0.34937,-0.46458 0.53821,-1.03016 0.53804,-1.61145v-75.25c-0.00486,-4.45078 -3.61172,-8.05764 -8.0625,-8.0625zM123.625,32.25h5.375c1.48365,0.00148 2.68602,1.20385 2.6875,2.6875v8.0625h-10.75v-8.0625c0.00148,-1.48365 1.20385,-2.68602 2.6875,-2.6875zM126.3125,116.45744l-5.375,-7.16487v-60.91756h10.75v60.91756z"
            fill="#474f59"
          ></path>
          <path
            d="M33.03744,55.65006c0.61085,0.61082 1.47806,0.8908 2.33076,0.7525c0.8527,-0.1383 1.58696,-0.67803 1.97343,-1.4506l5.375,-10.75c0.43217,-0.85922 0.3723,-1.88388 -0.157,-2.68692c-0.5293,-0.80304 -1.44734,-1.26207 -2.40735,-1.20369c-0.96001,0.05838 -1.81567,0.62527 -2.24375,1.48654l-3.70722,7.41562l-2.73856,-2.73856c-1.05111,-1.03924 -2.7442,-1.03445 -3.78941,0.01071c-1.04521,1.04516 -1.05008,2.73825 -0.0109,3.78941z"
            fill="#474f59"
          ></path>
          <path
            d="M48.375,51.0625h29.5625c1.48427,0 2.6875,-1.20323 2.6875,-2.6875c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875h-29.5625c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875c0,1.48427 1.20323,2.6875 2.6875,2.6875z"
            fill="#474f59"
          ></path>
          <path
            d="M33.03744,77.15006c0.61085,0.61082 1.47806,0.8908 2.33076,0.7525c0.8527,-0.1383 1.58696,-0.67803 1.97343,-1.4506l5.375,-10.75c0.43217,-0.85922 0.3723,-1.88388 -0.157,-2.68692c-0.5293,-0.80304 -1.44734,-1.26207 -2.40735,-1.20369c-0.96001,0.05838 -1.81567,0.62527 -2.24375,1.48654l-3.70722,7.41562l-2.73856,-2.73856c-1.05111,-1.03924 -2.7442,-1.03445 -3.78941,0.01071c-1.04521,1.04516 -1.05008,2.73825 -0.0109,3.78941z"
            fill="#474f59"
          ></path>
          <path
            d="M48.375,72.5625h29.5625c1.48427,0 2.6875,-1.20323 2.6875,-2.6875c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875h-29.5625c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875c0,1.48427 1.20323,2.6875 2.6875,2.6875z"
            fill="#474f59"
          ></path>
          <path
            d="M48.375,94.0625h29.5625c1.48427,0 2.6875,-1.20323 2.6875,-2.6875c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875h-29.5625c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875c0,1.48427 1.20323,2.6875 2.6875,2.6875z"
            fill="#474f59"
          ></path>
        </g>
      </g>
    </svg>
    <p class="lead">
      You often feel completely overwhelmed with the amount of work you’ve got
      to do? 
    </p>
    <p> If so, create your personal lists using MyList.
      All you need to do is to Register or Login completely free.
    </p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
