<%-include("partials/header")-%>
<%-include("partials/navbar")-%>
<div class="container d-flex justify-content-center">
    <form action="/myLists" method="POST">
        <h1 class="mb-4">Create New List</h1>
        <input type="text" class="form-control mb-4" name="titleInput" id="titleInput" placeholder="List Name..." autocomplete="off" autofocus>
        <button type="submit" class="btn btn-outline-secondary">Create</button>
    </form>
</div>
<hr>
<div class="container">
    <h1 class="mb-4">Existing Lists</h1>
    <div class="row">
    <% lists.forEach(function(singleList){ %>
        <div class="col-sm-12 col-md-6 col-lg-4 py-2 px-2">
            <div class="card-body container mb-3 card ">
                <div class="card-title text-start align-items-center d-flex justify-content-center"><%=singleList%></div>
                <div class="card-body">      
                    <div class="btn-wrapper text-center">
                    <a class="btn btn-outline-secondary" href="/<%= singleList%>">Open</a>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    </div>
</div>
<%-include("partials/footer")-%>