
body {
  background-color: #d2d6d98c;
}

h1 {
  color: #474F59;
  padding: 10px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #0D0D0D;
}


/* Navbar */

.navbar{
	font-family: "Josefin Sans";
}

.navbar-brand{
	font-size: 2rem!important;
	font-style: italic;
}


/* Home page */

.centered {
  padding-top: 200px;
  text-align: center;
}
  
/* Items box  */

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #D2D6D9;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
  
#heading {
  background-color: #ADC5D9;
  text-align: center;
}
  
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}
  
.item:last-child {
  border-bottom: 0;
}
  
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #474F59;
}
  
input[type="checkbox"] {
  margin: 20px;
}

form.item {
  text-align: center;
  margin-left: 20px;
}
  
button {
  max-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ADC5D9;
  color: #474F59;
  font-size: 30px;
  border-width: #0D0D0D;
}
  
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}
  
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ADC5D9;
}
  
::placeholder {
  color: #474F59;
  opacity: 1;
}


/* Social media icons */
  
.social-icon {
  color: #adc5d9ad;
  font-size: 2rem;
  padding: 1% 1%;
  transition: all 0.2s ease-in-out;
}

.social-icon.fa-linkedin:hover {
  color: #ADC5D9;
  transform: scale(1.5);
}

.social-icon.fa-gitlab:hover {
  color: #ADC5D9;
  transform: scale(1.5);
}

.social-icon.fa-envelope:hover {
  color: #ADC5D9;
  transform: scale(1.5);
}